@tailwind base;
@tailwind components;
@tailwind utilities;

/* Accessibility */
.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
}

.high-contrast a {
    color: #ffd700 !important;
}

.grayscale {
    filter: grayscale(100%) ;
}
